<div class="main-container">

  <h1 class="title">Week 8 Final Music Player</h1>

  <section class="section">
    <app-now-playing></app-now-playing>
  </section>

  <section class="section">
    <app-player-controls></app-player-controls>
  </section>

  <section class="section">
    <app-song-list></app-song-list>
  </section>

  <section class="section">
    <app-music-player></app-music-player>
  </section>

  <section class="section">
    <app-music-list></app-music-list>
  </section>

  <section class="section">
    <app-playlist></app-playlist>
  </section>

</div>